{% extends 'books_cbv/master.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question Details</title>
</head>
<body>
</br>

<a><u>Question Name: </u></a>{{ question.question_name }}
<a><u>Question Text: </u></a>{{ question.question_text }}
{% if question.choice_set %}
        {% for choice in question.choice_set.all %}
            <p><hr>
            <a>{{ choice.choice_text }}</a><br>
            <a>---{{ choice.choice_text }} {{ choice.votes }} times voted</a>
            <a href="{% url 'vote' question.id choice.id %}">Vote</a>
            <a href="{% url 'choice_delete' choice.id %}">Delete</a>  <br>
            </p>
        {% endfor %}
{% else %}
    <p>no choices</p>
{% endif %}

<a href="{% url 'choice_new' question.id %}">Create Choice</a>
</body>
</html>
{% endblock %}