<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>
{% if lastest_question_list %}
    <ul>
    {% for question in lastest_question_list %}
    <p><hr>
    <a href="{% url 'detail' question.pk %}">{{ question.question_name }}</a>
    <a href="{% url 'question_edit' question.id %}">Edit</a>
    <a href="{% url 'question_delete' question.id %}">Delete</a>
    </p>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no questions available</p>
{% endif %}

<a href="{% url 'question_new' %}">Create Question</a>

</body>
</html>